<!-- Модальное окно для просмотра -->
<div class="modal fade" id="viewPassengerModal" tabindex="-1" aria-labelledby="viewPassengerLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewPassengerLabel">Информация о пассажире</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-4">Фамилия</dt>
          <dd class="col-sm-8" id="passenger-surname"></dd>

          <dt class="col-sm-4">Имя</dt>
          <dd class="col-sm-8" id="passenger-name"></dd>

          <dt class="col-sm-4">Отчество</dt>
          <dd class="col-sm-8" id="passenger-patronymic"></dd>

          <dt class="col-sm-4">Дата рождения</dt>
          <dd class="col-sm-8" id="passenger-birthday"></dd>

          <dt class="col-sm-4">Гражданство</dt>
          <dd class="col-sm-8" id="passenger-citizenship"></dd>

          <dt class="col-sm-4">Вид документа</dt>
          <dd class="col-sm-8" id="passenger-doc-type"></dd>

          <dt class="col-sm-4">Номер документа</dt>
          <dd class="col-sm-8" id="passenger-doc-number"></dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>