{% extends 'base.html' %}
{% block title %}
Последние обновления на сайте
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-10">



    <h4 class="text-center">Список пассажиров</h4>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Добавить
      </button>
        <div class="all-content">
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя</th>
              <th scope="col">Отчество</th>
              <th scope="col">Дата рождения</th>
              <th scope="col">Гражданство</th>
              <th scope="col">Вид документа</th>
              <th scope="col">Номер документа</th>
            </tr>
          </thead>

          {% for passenger in page_obj %}
          {% include 'passenger/includes/list.html' %}
          {% endfor %}
          {% include 'includes/paginator.html' %}
          </table>
        </div>
      <div class="col-2">
        <h4 class="text-center"></h4>
        <ul class="list-group list-group-flush ">
          <a href="#" class="theme-aside list-group-item list-group-item-action">На площадке</a>
          <a href="#" class="theme-aside list-group-item list-group-item-action">Архив</a>
        </ul>
      </div>
      </div>
  </div>
{% include 'passenger/includes/add_passenger.html' %}
{% endblock %}