:root {
  --var-bgcolor: #fff;
  --var-fontcolor: #000;
}

[dark] {
  --var-bgcolor: #333;
  --var-fontcolor: #eee;
}

body {
  background-color: var(--var-bgcolor);
  color: var(--var-fontcolor);
}

.form-check-input:checked {
    background-color: gray;
    border-color: black;
}

.aside-dark {
    background-color: #333;
}

.btn img {
    vertical-align: middle;
    pointer-events: none; /* Чтобы клик работал на кнопке, а не на изображении */
}

.btn:hover img {
    filter: brightness(1.1);
}

.modal-body input[type="text"],
.modal-body input[type="date"],
.modal-body select {
    border-radius: 0.375rem;
}

.modal-body .form-check-input {
    margin-top: 0.3rem;
}

.modal-body {
    max-height: 600px; /* или другое значение */
    overflow-y: auto;
}

.max-h-200 {
    max-height: 200px;
    overflow-y: auto;
}
.list-group-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.clickable-rows tr {
    cursor: pointer;
}
