:root {
  --var-bgcolor: #fff;
  --var-fontcolor: #000;
}

[dark] {
  --var-bgcolor: #333;
  --var-fontcolor: #eee;
}

body {
  background-color: var(--var-bgcolor);
  color: var(--var-fontcolor);
}

.form-check-input:checked {
    background-color: gray;
    border-color: black;
}

.aside-dark {
    background-color: #333;
}

.hover-row:hover {
    background-color: #f8f9fa !important;
    cursor: pointer !important;
  }

.hover-row:hover td {
  background-color: #f8f9fa !important;
}