{% extends "base.html" %}
{% block title %}Рейс {{ schedule.name }}{% endblock %}
{% load static %}

{% block content %}
<div class="container py-5">
    <input type="hidden" id="currentScheduleId" value="{{ schedule.id }}">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>
            {% if schedule.ferry %}
            {{ schedule.ferry }}
            {% endif %}
             Рейс: {{ schedule.name }} | {{ schedule.departure_date|date:"d.m.Y" }} {{ schedule.departure_time }}</h2>
        <a href="/schedules/" class="btn btn-outline-secondary">&laquo; Назад</a>
    </div>

<!-- Основная информация -->
    <div class="card mb-4">
        <div class="card-header">
            <strong>Информация о рейсе</strong>
        </div>
        <div class="card-body d-flex flex-wrap justify-content-between align-items-start">

            <!-- Левая часть: данные о рейсе -->
            <div class="col-md-6 pe-md-3 mb-4 mb-md-0">
                <h5 class="text-muted">Детали рейса</h5>
                <dl class="row mb-0">
                    <dt class="col-sm-5"><strong>Название:</strong></dt>
                    <dd class="col-sm-7" id="scheduleName">
                        {% if schedule.name %}
                            {{ schedule.name }}
                        {% else %}
                            Не указано
                        {% endif %}
                    </dd>

                    <dt class="col-sm-5"><strong>Паром:</strong></dt>
                    <dd class="col-sm-7" id="ferryName">
                        {% if schedule.ferry %}
                            {{ schedule.ferry.name }} ({{ schedule.ferry.registration_number }})
                        {% else %}
                            Не выбран
                        {% endif %}
                    </dd>

                    <dt class="col-sm-5"><strong>Маршрут:</strong></dt>
                    <dd class="col-sm-7" id="route">
                        {% if schedule.departure_port and schedule.arrival_port %}
                            {{ schedule.departure_port }} → {{ schedule.arrival_port }}
                        {% else %}
                            Не указан
                        {% endif %}
                    </dd>

                    <dt class="col-sm-5"><strong>Дата отправления:</strong></dt>
                    <dd class="col-sm-7" id="departureDate">
                        {{ schedule.departure_date|date:"d.m.Y" }}
                    </dd>

                    <dt class="col-sm-5"><strong>Время:</strong></dt>
                    <dd class="col-sm-7" id="departureTime">
                        {{ schedule.departure_time }} – {{ schedule.arrival_time }}
                    </dd>
                </dl>
            </div>

            <!-- Средняя часть: участники рейса -->
            <div class="col-md-6 mb-4 mb-md-0">
                <h5 class="text-muted">Участники рейса</h5>
                <dl class="row mb-0">
                    <dt class="col-sm-5"><strong>Количество пассажиров:</strong></dt>
                    <dd class="col-sm-7" id="passengerCount">0</dd>

                    <dt class="col-sm-5"><strong>Количество экипажа:</strong></dt>
                    <dd class="col-sm-7" id="crewCount">0</dd>

                    <dt class="col-sm-5 mt-3"><strong>Статус:</strong></dt>
                    <dd class="col-sm-7 mt-3" id="scheduleStatus">
                        {% if schedule.is_active %}
                            <span class="badge bg-success">Активен</span>
                        {% else %}
                            <span class="badge bg-secondary">Погашен</span>
                        {% endif %}
                    </dd>

                    <!-- Кнопки -->

                    <div class="col-md-12 mt-3 d-flex justify-content-start gap-2">
                            <button id="scanQRBtn" class="btn btn-outline-danger d-flex align-items-center gap-2 {% if schedule.is_active == False %} d-none {% endif %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 0 .5Zm5 0 h5 v5 h-5 z"/>
                                    <path d="M3.5 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-4z"/>
                                    <path d="M9.5 1a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-4z"/>
                                    <path d="M3.5 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-4z"/>
                                    <path d="M9.5 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-4z"/>
                                </svg>
                                Сканировать QR
                            </button>
                            <button type="button" id="downloadFileBtn" class="btn btn-outline-primary {% if schedule.is_active == False or schedule.ferry == None %} d-none {% endif %}" data-schedule-id="{{ schedule.id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 .5-.5c.512 0 1 .5 1 1v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-3a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v8.793L5.354 8.146a.5.5 0 0 0-.708.708z"/>
                                </svg>
                                Скачать CSV
                            </button>
                        <button id="unlockScheduleBtn" class="btn btn-outline-danger btn-sm d-flex align-items-center gap-1 {% if schedule.is_active %} d-none {% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v2h3a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h3V3a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v2h2V2a1 1 0 0 0-1-1"/>
                                <path d="M3 8a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"/>
                            </svg>
                            Разблокировать
                        </button>
                    </div>
                </dl>
            </div>

            <!-- Правая часть: выбор парома и кнопка применить в одной строке -->
            <div class="w-100 mt-4">
                <div class="row g-2 align-items-end">
                    <div class="col-md-6 col-9">
                        <label for="ferrySelect" class="form-label mb-0">Выберите паром</label>
                        <select id="ferrySelect" class="form-select">
                            <option value="">Выберите паром</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-3">
                        <button id="applyFerryBtn" class="btn btn-outline-danger w-100">Применить</button>
                    </div>
                </div>
            </div>

            <!-- Кнопки внизу -->
            <div class="w-100 mt-4 d-flex justify-content-center">
                <button id="showPassengersBtn" class="btn btn-primary me-2 active" data-tab="passengers">Пассажиры</button>
                <button id="showCrewBtn" class="btn btn-primary" data-tab="crew">Экипаж</button>
            </div>
        </div>
            <!-- Блок с пассажирами -->
        <div id="passengersTab" class="tab-content active">
            <div class="row g-3">
        <!-- Левая колонка: все активные пассажиры -->
                <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Все пассажиры</h5>
                    <!-- Поле поиска -->
                    <input type="text" id="searchPassengerInput" class="form-control form-control-sm w-50" placeholder="Фамилия / Билет">
                </div>
                <div class="card-body">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Ф.И.О.</th>
                                <th scope="col">Пол</th>
                                <th scope="col">ДР</th>
                                <th scope="col">Документ</th>
                            </tr>
                        </thead>
                        <tbody id="activePassengersList"></tbody>
                    </table>
                    <nav aria-label="Page navigation" id="activePassengersPagination" class="mt-3 d-flex justify-content-center">
                        <ul class="pagination justify-content-center mb-0"></ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Правая колонка: пассажиры на рейсе -->
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-header bg-success text-white">
                            <h5 class="mb-0">Пассажиры на рейсе</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">№</th>
                                        <th scope="col">Ф.И.О.</th>
                                        <th scope="col">Пол</th>
                                        <th scope="col">ДР</th>
                                        <th scope="col">Документ</th>
                                    </tr>
                                </thead>
                                <tbody id="onSchedulePassengersList"></tbody>
                            </table>
                            <nav aria-label="Page navigation" id="onSchedulePassengersPagination" class="mt-3 d-flex justify-content-center">
                                <ul class="pagination justify-content-center mb-0"></ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Блок с экипажем (временно скрыт) -->
        <div id="crewTab" class="tab-content d-none">
            <div class="row g-3">
                <!-- Левая колонка: весь активный экипаж -->
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Весь экипаж</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Должность</th>
                                        <th scope="col">Ф.И.О.</th>
                                        <th scope="col">Пол</th>
                                        <th scope="col">ДР</th>
                                        <th scope="col">Документ</th>
                                    </tr>
                                </thead>
                                <tbody id="activeCrewList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Правая колонка: экипаж на рейсе -->
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-header bg-success text-white">
                            <h5 class="mb-0">Экипаж на рейсе</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Должность</th>
                                        <th scope="col">Ф.И.О.</th>
                                        <th scope="col">Пол</th>
                                        <th scope="col">ДР</th>
                                        <th scope="col">Документ</th>
                                    </tr>
                                </thead>
                                <tbody id="onScheduleCrewList"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Модальное окно для сканирования QR -->
        <div class="modal fade" id="qrScannerModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Сканирование QR</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <!-- Контейнер для видеопотока -->
                    <div id="scanner-container" style="width: 100%; max-width: 400px; margin: auto;"></div>
                    <p id="scanResult" class="mt-3 text-muted">Наведите QR на камеру...</p>
                    <p id="rawQRResult" class="mt-3 text-break text-secondary"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
</div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', async function () {
    let allPassengers = [];
    let filteredAllPassengers = [];
    let passengersOnSchedule = [];
    let docTypesMap = {};
    Promise.all([
            new Promise(resolve => {
                loadDocTypes();
                resolve();
            })
        ]).then(() => {
            // Теперь справочники точно загружены
        });
    const path = window.location.pathname;
    const match = path.match(/\/schedules\/(\d+)/);

    if (!match) {
        alert('❌ Не найден ID рейса');
        return;
    }

    const scheduleId = parseInt(match[1]);

    try {
        // --- Загружаем данные о рейсе ---
        const res = await fetch(`/api/schedules/${scheduleId}/`);
        if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);
        const data = await res.json();

        // --- Блокируем редактирование ---
        if (!data.is_active) {
            showEditLockWarning();
            lockEditingElements(false);
        }

    } catch (err) {
        console.error(err);
        alert('❌ Ошибка при загрузке данных о рейсе');
    }

    // --- Элементы ---
    const showPassengersBtn = document.getElementById('showPassengersBtn');
    const showCrewBtn = document.getElementById('showCrewBtn');
    const passengerTab = document.getElementById('passengerTab');
    const crewTab = document.getElementById('crewTab');
    const activePassengersList = document.getElementById('activePassengersList');
    const onSchedulePassengersList = document.getElementById('onSchedulePassengersList');
    const searchPassengerInput = document.getElementById('searchPassengerInput');
    const ferrySelect = document.getElementById('ferrySelect');
    const applyFerryBtn = document.getElementById('applyFerryBtn');
    const ferryName = document.getElementById('ferryName');
    const qrScannerModal = new bootstrap.Modal(document.getElementById('qrScannerModal'));



    let allCrew = [];
    let filteredAllCrew = [];
    let crewOnSchedule = [];
    let allCrewByFerry = []; // ← все члены экипажа выбранного парома

    const searchCrewInput = document.getElementById('searchCrewInput');
    const activeCrewList = document.getElementById('activeCrewList');
    const onScheduleCrewList = document.getElementById('onScheduleCrewList');



    function updatePassengerAndCrewCount() {
        const passengerCount = passengersOnSchedule.length;
        const crewCount = crewOnSchedule.length;

        const passengerCountEl = document.getElementById('passengerCount');
        const crewCountEl = document.getElementById('crewCount');

        if (passengerCountEl) passengerCountEl.textContent = passengerCount;
        if (crewCountEl) crewCountEl.textContent = crewCount;
    }



    [showPassengersBtn, showCrewBtn].forEach(btn => {
        if (!btn) return; // ← если элемент не найден — пропускаем его

        btn.addEventListener('click', function () {
            // Сбрасываем активность всех вкладок
            document.querySelectorAll('.tab-content').forEach(tab => {
                tab.classList.add('d-none');
            });

            // Показываем нужную вкладку
            const tabId = this.dataset.tab;
            const targetTab = document.getElementById(`${tabId}Tab`);

            if (targetTab) {
                targetTab.classList.remove('d-none');
            } else {
                console.warn(`Вкладка #${tabId}Tab не найдена`);
            }
        });
    });

    // --- Загрузка всех пассажиров ---
    async function loadAllPassengers(page = 1) {
        try {
            const url = new URL('/api/passengers/', window.location.origin);
            url.searchParams.set('page', page);
            url.searchParams.set('is_active', 'true'); // ← только активные

            const res = await fetch(url);
            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);

            const data = await res.json();
            allPassengers = data.results || [];
            filteredAllPassengers = [...allPassengers];

            renderPassengerTabs(); // ← рендерим таблицу
        } catch (err) {
            console.error(err);
            alert('Ошибка загрузки пассажиров');
        }
    }

    // --- Загрузка пассажиров на рейсе ---
    async function loadPassengersOnSchedule() {
        try {
            const res = await fetch(`/api/schedules/${scheduleId}/passengers/`);
            if (!res.ok) throw new Error(`Ошибка загрузки пассажиров`);

            passengersOnSchedule = await res.json();
            renderPassengerTabs();
            updatePassengerAndCrewCount(); // ← вызываем здесь
        } catch (err) {
            console.error(err);
            passengersOnSchedule = [];
            updatePassengerAndCrewCount();
        }
    }

    // --- Отрисовка списков ---
    function renderPassengerTabs() {
        const activeList = document.getElementById('activePassengersList');
        const onScheduleList = document.getElementById('onSchedulePassengersList');

        activeList.innerHTML = '';
        onScheduleList.innerHTML = '';

        const onScheduleIds = passengersOnSchedule.map(p => p.id);

        // --- Левая колонка: все пассажиры ---
        filteredAllPassengers.forEach(p => {
            if (!onScheduleIds.includes(p.id)) {
                const tr = document.createElement('tr');
                tr.dataset.id = p.id;
                tr.innerHTML = `
                    <td>${p.ticket_number}</td>
                    <td>${p.surname} ${p.name} ${p.patronymic || ''}</td>
                    <td>${p.gender}</td>
                    <td>${new Date(p.birthday).toLocaleDateString()}</td>
                    <td>${docTypesMap[p.doc_type] || 'Ошибка загрузки'}: ${p.doc_number}</td>
                `;
                tr.style.cursor = 'pointer';
                tr.addEventListener('click', () => addPassengerToSchedule(p));
                activeList.appendChild(tr);
            }
        });

        // --- Правая колонка: на рейсе ---
        passengersOnSchedule.forEach(p => {
            const tr = document.createElement('tr');
            tr.dataset.id = p.id;
            tr.innerHTML = `
                <td>${p.ticket_number}</td>
                <td>${p.surname} ${p.name} ${p.patronymic || ''}</td>
                <td>${p.gender}</td>
                <td>${new Date(p.birthday).toLocaleDateString()}</td>
                <td>${docTypesMap[p.doc_type] || 'Ошибка загрузки'}: ${p.doc_number}</td>
            `;
            tr.style.cursor = 'pointer';
            tr.addEventListener('click', () => removePassengerFromSchedule(p));
            onScheduleList.appendChild(tr);
        });
    }

    function filterAllPassengers(query) {
    if (!query.trim()) {
        filteredAllPassengers = [...allPassengers];
        return;
    }

    const lowerQuery = query.toLowerCase();
    filteredAllPassengers = allPassengers.filter(p =>
        p.surname.toLowerCase().includes(lowerQuery) ||
        p.ticket_number.toString().includes(query)
    );
}

        // --- Получение CSRF токена ---
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(`${name}=`)) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function isScheduleActive() {
        const statusBadge = document.getElementById('scheduleStatus');
        return statusBadge?.querySelector('.badge')?.textContent === 'Активен';
    }

    function addPassengerToSchedule(passenger) {
        if (!isScheduleActive()) {
            alert('❌ Невозможно изменить пассажиров — рейс погашен');
            return;
        }

        fetch(`/api/schedules/${scheduleId}/add_passenger/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ passenger_id: passenger.id })
        }).then(res => {
            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);
            return res.json();
        }).then(() => {
            // Убираем из общего списка
            allPassengers = allPassengers.filter(p => p.id !== passenger.id);
            passengersOnSchedule.push(passenger);

            // Меняем статус локально
            passenger.is_active = false;

            updatePassengerAndCrewCount();
            renderPassengerTabs();
        }).catch(err => {
            console.error(err);
            alert('Ошибка при добавлении пассажира');
        });
    }

    function removePassengerFromSchedule(passenger) {
        if (!isScheduleActive()) {
            alert('❌ Невозможно изменить пассажиров — рейс погашен');
            return;
        }

        fetch(`/api/schedules/${scheduleId}/remove_passenger/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ passenger_id: passenger.id })
        }).then(res => {
            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);
            return res.json();
        }).then(() => {
            // Возвращаем в общий список
            allPassengers.push(passenger);
            passengersOnSchedule = passengersOnSchedule.filter(p => p.id !== passenger.id);

            // Восстанавливаем статус
            passenger.is_active = true;

            updatePassengerAndCrewCount(); // ← обновляем количество
            renderPassengerTabs();
        }).catch(err => {
            console.error(err);
            alert('Ошибка при удалении пассажира');
        });
    }



    searchPassengerInput?.addEventListener('input', function () {
        const query = this.value.trim();
        filterAllPassengers(query); // ← обновляем фильтрованный список
        renderPassengerTabs(); // ← перерисовываем таблицу
    });

    async function loadDocTypes() {
        try {
            const res = await fetch('/api/doctypes/');
            const data = await res.json();
            docTypesMap = {}; // ← очищаем старые данные

            data.forEach(d => {
                docTypesMap[d.id] = `${d.short_name}`;
            });
        } catch (err) {
            console.error('Ошибка загрузки типов документов:', err);
        }
    }

    async function loadFerries() {
        const ferrySelects = document.querySelectorAll('#ferrySelect, #ferryFilter'); // ← обновляем все нужные поля
        if (!ferrySelects.length) return;

        try {
            const res = await fetch('/api/ferries/');
            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);
            const data = await res.json();

            // Обновляем все select'ы
            ferrySelects.forEach(select => {
                select.innerHTML = '<option value="">Выберите паром</option>';
                data.forEach(f => {
                    const opt = document.createElement('option');
                    opt.value = f.id;
                    opt.textContent = `${f.name}`;
                    select.appendChild(opt);
                });
            });

            const resSch = await fetch(`/api/schedules/${scheduleId}/`);
            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);

            const dataSchedule = await resSch.json();

            // --- Проверяем, есть ли у рейса паром ---
            if (dataSchedule.detail.ferry) {
                const ferryId = dataSchedule.detail.ferry;
                console.log(ferryId);
                // ← Устанавливаем значение в селект
                ferrySelect.value = ferryId;
                ferrySelect.dispatchEvent(new Event('change')); // ← триггерим обработчики

                // ← Опционально: можно подсветить выбор
                ferrySelect.classList.add('is-valid');
            } else {
                ferrySelect.value = '';
                ferrySelect.classList.add('is-invalid');
                ferrySelect.title = 'У этого рейса нет парома';
            }


        } catch (err) {
            console.error(err);
            ferrySelects.forEach(select => {
                select.innerHTML = '<option disabled>Ошибка загрузки</option>';
            });
        }
    }

    async function loadCrewByFerry(ferryId) {
        try {
            const url = new URL('/api/crew/', window.location.origin);
            url.searchParams.set('ferry_id', ferryId);
            url.searchParams.set('is_active', true);

            const res = await fetch(url);
            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);
            const data = await res.json();

            allCrewByFerry = data || [];
            renderCrewTabs(); // ← если ты используешь таблицы
        } catch (err) {
            console.error(err);
            allCrewByFerry = [];
            alert('Ошибка загрузки экипажа');
        }
    }

    async function applyFerryAndAddAllMembers(ferryId) {
        try {
            const res = await fetch(`/api/schedules/${scheduleId}/apply_ferry/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ ferry_id: parseInt(ferryId) })
            });
            console.log(res);
            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);
            const result = await res.json();

            // --- Обновляем локальные данные ---
            passengersOnSchedule = result.passengers || [];
            crewOnSchedule = result.crew || [];

            renderPassengerTabs();
            renderCrewTabs();


        } catch (err) {
            console.error(err);
        }
    }

        document.getElementById('applyFerryBtn')?.addEventListener('click', async () => {
            const ferryId = ferrySelect.value;

            if (!ferryId) {
                alert('❗ Выберите паром');
                return;
            }


            await applyFerryAndAddAllMembers(parseInt(ferryId));
            renderCrewTabs(); // ← отрисовываем данные
            const selectedOption = ferrySelect.options[ferrySelect.selectedIndex];
            ferryName.textContent = selectedOption.text;
            loadCrewOnSchedule();

            alert('✅ Паром выбран');
        });



    async function loadAllCrew(page = 1) {
        try {
            const url = new URL('/api/crew/', window.location.origin);
            url.searchParams.set('is_active', 'true'); // ← только активные
            url.searchParams.set('ferry_id', '{{schedule.ferry.id}}');
            const res = await fetch(url);
            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);

            const data = await res.json();
            allCrew = data|| [];
            filteredAllCrew = [...allCrew];

            renderCrewTabs(); // ← отрисовываем данные
        } catch (err) {
            console.error(err);
            alert('Ошибка загрузки экипажа');
        }
    }

    async function loadCrewOnSchedule() {
        try {
            const res = await fetch(`/api/schedules/${scheduleId}/crew/`);
            if (!res.ok) throw new Error(`Ошибка загрузки экипажа`);

            crewOnSchedule = await res.json();
            renderCrewTabs();
            updatePassengerAndCrewCount(); // ← вызываем здесь
        } catch (err) {
            console.error(err);
            crewOnSchedule = [];
            updatePassengerAndCrewCount();
        }
    }

    function filterAllCrew(query) {
        if (!query.trim()) {
            filteredAllCrew = [...allCrew];
            return;
        }

        const lowerQuery = query.toLowerCase();
        filteredAllCrew = allCrew.filter(c =>
            c.surname.toLowerCase().includes(lowerQuery) ||
            c.doc_number.toString().includes(query)
        );
    }

    searchCrewInput?.addEventListener('input', function () {
        const query = this.value.trim();
        filterAllCrew(query); // ← обновляем список
        renderCrewTabs();
    });

    function renderCrewTabs() {
        activeCrewList.innerHTML = '';
        onScheduleCrewList.innerHTML = '';

        const onScheduleIds = crewOnSchedule.map(c => c.id);

        // --- Левая колонка: все активные ---
        filteredAllCrew.forEach(c => {
            if (!onScheduleIds.includes(c.id)) {
                const tr = document.createElement('tr');
                tr.dataset.id = c.id;
                tr.innerHTML = `
                    <td>${c.rank}</td>
                    <td>${c.surname} ${c.name}</td>
                    <td>${c.gender}</td>
                    <td>${new Date(c.birthday).toLocaleDateString()}</td>
                    <td>${docTypesMap[c.doc_type] || 'Ошибка загрузки'}: ${c.doc_number}</td>
                `;
                tr.style.cursor = 'pointer';
                tr.addEventListener('click', () => addCrewToSchedule(c));
                activeCrewList.appendChild(tr);
            }
        });

        // --- Правая колонка: на рейсе ---
        crewOnSchedule.forEach(c => {
            const tr = document.createElement('tr');
            tr.dataset.id = c.id;
            tr.innerHTML = `
                <td>${c.rank}</td>
                <td>${c.surname} ${c.name}</td>
                <td>${c.gender}</td>
                <td>${new Date(c.birthday).toLocaleDateString()}</td>
                <td>${docTypesMap[c.doc_type] || 'Ошибка загрузки'}: ${c.doc_number}</td>
            `;
            tr.style.cursor = 'pointer';
            tr.addEventListener('click', () => removeCrewFromSchedule(c));
            onScheduleCrewList.appendChild(tr);
        });
    }

    async function addCrewToSchedule(crewMember) {
        try {
            const res = await fetch(`/api/schedules/${scheduleId}/add_crew/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ crew_id: crewMember.id })
            });

            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);
            crewOnSchedule.push(crewMember);
            allCrew = allCrew.filter(c => c.id !== crewMember.id);
            filteredAllCrew = [...allCrew];

            updatePassengerAndCrewCount();
            renderCrewTabs();
        } catch (err) {
            console.error(err);
            alert('❌ Ошибка при добавлении экипажа');
        }
    }

    async function removeCrewFromSchedule(crewMember) {
        try {
            const res = await fetch(`/api/schedules/${scheduleId}/remove_crew/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ crew_id: crewMember.id })
            });

            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);

            // Убираем из списка на рейсе
            crewOnSchedule = crewOnSchedule.filter(c => c.id !== crewMember.id);

            // Возвращаем в общий список
            allCrew.push(crewMember);
            filteredAllCrew = [...allCrew];

            updatePassengerAndCrewCount();
            renderCrewTabs(); // ← важно: перерисовываем таблицы
        } catch (err) {
            console.error(err);
            alert('Ошибка при удалении члена экипажа');
        }
    }

    document.getElementById('ferryFilter')?.addEventListener('change', () => {
        currentPage = 1;
        loadSchedules(currentPage);
    });

   document.getElementById('downloadFileBtn')?.addEventListener('click', async function (e) {
        const scheduleId = this.dataset.scheduleId;

        // --- Блокируем скачивание, если нет данных ---
        const passengerCount = passengersOnSchedule.length;
        const crewCount = crewOnSchedule.length;

        if (passengerCount === 0 || crewCount === 0) {
            e.preventDefault(); // ← останавливаем событие
            const btn = document.getElementById('downloadFileBtn');
            btn.classList.add('no-data');
            btn.title = 'Нет пассажиров или экипажа для скачивания';
            alert('❌ Нет пассажиров или экипажа для скачивания');
            return; // ← ВАЖНО: выходим из функции, чтобы дальше ничего не выполнялось
        }

        // --- Открываем ссылку на скачивание только если данные есть ---
        const downloadUrl = `/schedules/${scheduleId}/download/`;
        window.open(downloadUrl, '_blank');

        try {
            setTimeout(() => {
                location.reload();
            }, 100);

        } catch (err) {
            console.error(err);
            alert('❌ Ошибка при обновлении данных после скачивания');
        }
    });

    function showEditLockWarning() {
        const existingAlert = document.querySelector('.edit-lock-warning');
        if (existingAlert) return;

        const alertEl = document.createElement('div');
        alertEl.className = 'edit-lock-warning alert alert-warning mt-3';
        alertEl.textContent = '⚠️ Этот рейс уже погашен — редактирование запрещено';

        const container = document.querySelector('#crewTab, #passengersTab');
        if (container) {
            container.prepend(alertEl);
        }
    }

    function lockEditingElements(isActive) {
        const interactiveElements = document.querySelectorAll(`
            #addPassengerBtn,
            #removePassengerBtn,
            #addCrewBtn,
            #removeCrewBtn,
            .passenger-row,
            .crew-row,
            #ferrySelect,
            #applyFerryBtn,
            [data-tab="passengers"],
            [data-tab="crew"]
        `);

        interactiveElements.forEach(el => {
            if (isActive === false) {
                el.classList.add('disabled');
                el.setAttribute('disabled', 'disabled');
                el.style.opacity = '0.6';
                el.style.pointerEvents = 'none';
            } else {
                el.classList.remove('disabled');
                el.removeAttribute('disabled');
                el.style.opacity = '1';
                el.style.pointerEvents = '';
            }
        });

        // --- Показываем/скрываем кнопку "Разблокировать" ---
        const unlockBtn = document.getElementById('unlockScheduleBtn');
        if (unlockBtn) {
            unlockBtn.style.display = isActive ? 'none' : 'block';
        }
    }

    document.getElementById('unlockScheduleBtn')?.addEventListener('click', async () => {
        if (!confirm('Вы уверены, что хотите разблокировать рейс?')) return;

        try {
            const res = await fetch(`/api/schedules/${scheduleId}/unlock/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ is_active: true })
            });

            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);

            const updated = await res.json();
            const statusBadge = document.getElementById('scheduleStatus');
            const downloadBtn = document.getElementById('downloadFileBtn');
            const scanQRBtn = document.getElementById('scanQRBtn');
            const unlockBtn = document.getElementById('unlockScheduleBtn');

            downloadBtn.classList.remove('d-none');
            scanQRBtn.classList.remove('d-none');
            unlockBtn.classList.add('d-none');

            statusBadge.innerHTML = `
                <span class="badge bg-success">Активен</span>
            `;

            // --- Снимаем блокировку ---
            lockEditingElements(true); // ← теперь можно снова редактировать

            alert('✅ Рейс разблокирован');
        } catch (err) {
            console.error(err);
            alert('❌ Ошибка разблокировки');
        }
    });

    let html5QrCode = null;



    function startQRScanner() {
        const container = document.getElementById('scanner-container');
        if (!container) return;

        // --- Очистка старого сканера ---
        container.innerHTML = '';
        if (html5QrCode && html5QrCode.isScanning) {
            html5QrCode.stop().then(() => {
                html5QrCode.clear();
            }).catch(err => {
                console.error("Ошибка остановки:", err);
            });
        }

        // --- Создаём новый экземпляр ---
        html5QrCode = new Html5Qrcode("scanner-container");

        const config = { fps: 10, qrbox: { width: 250, height: 250 } };

        // --- Запускаем сканирование ---
        html5QrCode.start({ facingMode: "environment" }, config, async (decodedText) => {
            try {
                const data = JSON.parse(decodedText);
                const passengerId = parseInt(data.id);

                if (!passengerId) {
                    alert('❌ QR-код не содержит ID пассажира');
                    return;
                }

                // --- Загружаем данные пассажира с сервера ---
                const res = await fetch(`/api/passengers/${passengerId}/`);
                if (!res.ok) throw new Error(`Пассажир #${passengerId} не найден`);

                const passenger = await res.json();

                // --- Добавляем пассажира на рейс ---
                await addPassengerToSchedule(passenger);


                // --- Останавливаем сканирование ---
                await html5QrCode.stop();
                html5QrCode.clear();

                // --- Закрываем модальное окно только если оно открыто ---
                qrScannerModal.hide();

                // --- Очищаем сканер ---
                if (html5QrCode.isScanning) {
                    await html5QrCode.stop();
                    html5QrCode.clear();
                    html5QrCode = null;
                }

                alert('✅ Пассажир успешно добавлен');


            } catch (err) {
                console.error('Ошибка парсинга:', err);
                alert('❌ Неверный формат QR-кода');
            }
        });
    }

    document.getElementById('qrScannerModal')?.addEventListener('hidden.bs.modal', async () => {
        if (html5QrCode && html5QrCode.isScanning) {
            await html5QrCode.stop();
            html5QrCode.clear();
        }
    });

    async function handleScannedData(data) {
        if (!data || !data.id) {
            alert('❌ QR-код содержит неверные данные');
            return;
        }

        try {
            const res = await fetch(`/api/passengers/${data.id}/checkin/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ schedule_id: scheduleId })
            });

            if (!res.ok) throw new Error(`Ошибка сети: ${res.status}`);
            const result = await res.json();

            passengersOnSchedule.push(data);
            allPassengers = allPassengers.filter(p => p.id !== data.id);

            renderPassengerTabs(); // ← обновляем интерфейс
            updatePassengerAndCrewCount(); // ← обновляем счётчики
            alert('✅ Пассажир успешно добавлен');

        } catch (err) {
            console.error(err);
            alert('❌ Ошибка при добавлении пассажира');
        }
    }

    document.getElementById('scanQRBtn')?.addEventListener('click', function () {
        const scannerContainer = document.getElementById('scanner-container');
        if (!scannerContainer) {
            console.warn('❌ #scanner-container не найден');
            alert('Контейнер для сканирования не найден');
            return;
        }

        // --- Открываем модальное окно ---
        qrScannerModal.show();

        // --- Запускаем сканирование ---
        startQRScanner();
    });


    // --- Инициализация ---
    await loadAllPassengers();
    await loadPassengersOnSchedule();
    await loadAllCrew();
    await loadCrewOnSchedule();
    loadFerries(); // ← первым делом загружаем паромы
    loadDocTypes();

});
</script>
{% endblock %}
